<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="text-left"><a href="/"><img src="images/logo/logo.png" height="50px" width="50px"> </a></div>
			</div><!--NAV BAR HEADER-->
			<div class="collapse navbar-collapse" id="navbar-collapse">
			<a href="home.html" class="btn btn-info navbar-btn navbar-right">Start Here</a>
				<ul class="nav navbar-nav">
			      <li><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>	
			</div>
		</div>
	</nav>