
<div id="homeTemplate">

<div class="text-center">
        <div class="arvo welcome-text">Welcome to new world of managing your Health Data!</div>
        <div class="roboto welcome-footer">
          	<center><input type="text" ng-model="patientId" />
			<button ng-click="getPatientData()" style="color: pink; background-color:green; buttonshadow;" >ENTER</button>
        <div class="roboto welcome-sub-text">Enter your Patient ID and explore the journey!!  </div>
        
        </div></center>
    </div>


	
</div>

