	<md-toolbar class="header dark-header" layout="row" layout-align="space-between start">
            <h1 class="logo">UrbanLife</h1>
            <h5>Already a Merchant? <a href="#/login">SignIn</a></h5>
    </md-toolbar>
	<md-content>
        <div layout="column" flex >
            <div class="reg-top"> 
                <h2>
                	<span class="reg-top-title">Enter Credit Card Information</span>
					<md-button class="md-primary md-fab">1</md-button>
                    <span class="hz-line"></span>
                	<md-button class="md-primary md-fab md-raised">2</md-button>
                </h2>
            </div>
            <div layout="row" flex>
                <div layout="column" class="md-padding form-content" flex="80" ng-controller="paymentCtrl">
			<form name="userForm" novalidate>
				<div layout layout-sm="column">
					<md-input-container flex='70'> <label>Full
						Name<span class="mandate-field"> * </span>
					</label> <input required name="name" type="text"
						ng-blur="user.fnamevar=true" ng-model="ccinfo.name"
						ng-maxlength="100" ng-model-options="{updateOn:'blur'}">
					<div class="validation-messages" ng-show="user.fnamevar">
						<div ng-messages="userForm.name.$error">
							<div id="errorEmailMsg" ng-message="required">Full Name is
								required</div>
							<div id="errorEmailMsg" ng-message="maxlength">Full Name is
								too long</div>
						</div>
					</div>

					</md-input-container>
				</div>

				<div layout="row" layout-wrap class="ccrow">
					<md-input-container flex="70">
					 <label>Credit
						card number<span class="mandate-field"> * </span>
					</label> 
					<input type="text" name="ccnumber" ng-model="ccinfo.ccnumber"
						required data-credit-card-type data-ng-pattern="/^[0-9]+$/"
						data-ng-minlength="15" maxlength="19" placeholder="Card Number"
						ng-blur="ccinfo.carderror=true" ng-model-options="{updateOn:'blur'}"> </md-input-container>
					<div flex="30"></div>
					
					<div class="validation-messages" ng-show="ccinfo.carderror" flex="70">
					<div  ng-show="userForm.ccnumber.$error.required">Credit card required</div>
						<div ng-show="userForm.ccnumber.$error.minlength">Credit card
							must be 15-19 digits</div>
						<div ng-show="userForm.ccnumber.$error.pattern">Credit card
							must consist of only numbers</div>
						<div ng-show="userForm.ccnumber.$error.invalid">Credit card
							must be a valid Amex, Visa, Discover, or Master Card</div>
					</div>
				</div>


				<div layout="row" class="ccrow">
					<div flex="30">
						<label class="match-label">Card Type</label>
						<md-radio-group class="cctypes" ng-model="ccinfo.type">
						<md-radio-button value="visa">
						<span class="visa-icon"></span></md-radio-button> <md-radio-button
							value="mastercard"> <span
							class="mastercard-icon"></span> </md-radio-button> <md-radio-button value="amex">
						<span class="amex-icon"></span></md-radio-button> </md-radio-group>

						<input type="hidden" ng-model="ccinfo.ccType" name="ccType"
							required>
					</div>
					<div flex="10"></div>
					<div layout="column" flex="30" layout-align="end center">
						<md-input-container layout-fill> 
							<label>Security
							Code</label> <input type="password" required name="securityCode"
							ng-model="ccinfo.securityCode" ng-init="ccinfo.icon1=true;"
							ng-blur="user.scVar=true" ng-model-options="{updateOn:'blur'}" ng-pattern="/^[0-9]{3,4}$/"> <span ng-show="ccinfo.icon1"
							class="cardsback-icon"></span> <span ng-show="ccinfo.icon2"
							class="mastercardback-icon"></span> <span ng-show="ccinfo.icon3"
							class="amexback-icon"></span> </md-input-container>
	<div class="validation-messages" ng-show="user.scVar" layout-fill>
							<div ng-messages="userForm.securityCode.$error">
								<div ng-message="pattern">You did not enter a
									valid number</div>
								<div ng-message="required">Security code is
									required</div>
							</div>
						</div>	
					</div>
				</div>
				
				<div layout="row" class="ccrow">
					<div flex="30" class="select-box" layout="column">
						<label class="match-label">Expiry Month<span
							class="mandate-field"> * </span></label>
						<md-select required name="exoMonth" ng-model="ccinfo.expiry_month"
							flex="" ng-blur="user.exoMonth=true" ng-model-options="{updateOn:'blur'}"> <md-option
							value="01" ng-selected="selected">01</md-option> <md-option
							value="02">02</md-option> <md-option value="03">03</md-option> <md-option
							value="04">04</md-option> <md-option value="05">05</md-option> <md-option
							value="06">06</md-option> <md-option value="07">07</md-option> <md-option
							value="08">08</md-option> <md-option value="09">09</md-option> <md-option
							value="10">10</md-option> <md-option value="11">11</md-option> <md-option
							value="12">12</md-option> </md-select>
						<div class="validation-messages" ng-show="user.exoMonth">
							<div ng-messages="userForm.exoMonth.$error">
								<div ng-message="required">Expiry Month is required</div>
							</div>
						</div>

					</div>
					<div flex="10"></div>
					<div layout="column" class="select-box" flex="30">
						<label class="match-label">Expiry Year <span
							class="mandate-field"> * </span>
						</label>
						<md-select required name="expYear" ng-model="ccinfo.expiry_year"
							flex="" ng-blur="user.expYear=true" ng-model-options="{updateOn:'blur'}"> <md-option
							value="2015" ng-selected="selected">2015</md-option> <md-option
							value="2016">2016</md-option> <md-option value="2017">2017</md-option>
						<md-option value="2018">2018</md-option> <md-option value="2019">2019</md-option>
						<md-option value="2020">2020</md-option> <md-option value="2021">2021</md-option>
						<md-option value="2022">2022</md-option> <md-option value="2023">2023</md-option>
						<md-option value="2024">2024</md-option> <md-option value="2025">2025</md-option>
						<md-option value="2026">2026</md-option> </md-select>
					<div class="validation-messages" ng-show="user.expYear">
							<div ng-messages="userForm.expYear.$error">
								<div id="errorSCMsg" ng-message="required">Expiry Year is
									required</div>
							</div>
						</div>
					</div>
				</div>


				<div layout="row"  class="ccrow">
					<div flex="30" class="select-box" layout="column">
						<label class="match-label">Country<span
							class="mandate-field"> * </span></label>
							
							
						<md-select  ng-model="ccinfo.country" name="country" style="min-width: 30px;" ng-change="onCountryChange()" ng-blur="user.countryvar=true">
								<md-option ng-value="country" ng-repeat="country in countryList">{{country.value}}</md-option>
						</md-select>
						
						<div class="validation-messages" ng-show="user.countryvar">
							<div ng-messages="userForm.country.$error">
								<div ng-message="required">Country is required</div>
							</div>
						</div>
					</div>
					
					<div flex="10"></div>
					<div  flex="30" class="select-box" layout="column">
						<label class="match-label">State<span
							class="mandate-field"> * </span></label>
							
					
					<md-select ng-disabled="!ccinfo.country" ng-model="ccinfo.state" name="state"  ng-blur="user.statevar=true" ng-model-options="{updateOn:'blur'}" ng-change="onStateChange()"> 
						<md-option ng-value="state" ng-repeat="state in stateList">{{state}}</md-option>
</md-select>

						<div class="validation-messages" ng-show="user.statevar">
							<div ng-messages="userForm.state.$error">
								<div ng-message="required">State is required</div>
							</div>
						</div>


					</div>
				</div>
				
				
				<div layout="row" layout-wrap class="ccrow">
					<div flex="30" class="select-box" layout="column">
						<label class="match-label">City<span class="mandate-field"> * </span></label>
							 
							
						<md-select ng-disabled="!ccinfo.state" ng-model="ccinfo.city" name="city" ng-blur="user.cityvar=true"> <md-option
												 ng-value="city" ng-repeat="city in cityList">{{city.name}}</md-option>
											</md-select>
						


				
						<div class="validation-messages" ng-show="user.cityvar">
							<div ng-messages="userForm.city.$error">
								<div ng-message="required">City is required</div>
							</div>
						</div>


					</div>
					<div flex="10"></div>
					<div  flex="30" layout="column" class="ccrow">
					<md-input-container flex="30"> <label>Zip
						Code<span class="mandate-field"> * </span>
					</label> <input required ng-blur="user.postCode=true" name="postCode"
						ng-model="ccinfo.postCode" ng-maxlength="11" ng-model-options="{updateOn:'blur'}" > </md-input-container>
						
					<div class="validation-messages" ng-show="user.postCode">
					<div ng-messages="userForm.postCode.$error">
						<div ng-message="required">Zip Code is
							required</div>
						<div ng-message="maxlength">Zip Code is
							too long</div>
					</div>
					</div>
				</div>	
						
				</div>
				
				
				<div layout="row" layout-wrap class="ccrow">
					
					<md-input-container flex=70>
					 <label>Billing	Address1<span class="mandate-field"> * </span></label>
					 <input required name="billlAddress1" ng-blur="user.billlAddress1=true" ng-model="ccinfo.billingAdd1" ng-model-options="{updateOn:'blur'}"/>
					</md-input-container>
					<div flex="30"></div>
					<div class="validation-messages" ng-show="user.billlAddress1">
					<div ng-messages="userForm.billlAddress1.$error">
						<div ng-message="required">Billing Address1 is required</div>

					</div>
					</div>
				</div>
				
				<div layout="row" layout-wrap class="ccrow">
				
					<md-input-container flex=70>
					 <label>Billing Address2<span class="mandate-field"> * </span></label> 
					 <input required name="billlAddress2" ng-blur="user.billlAddress2=true" ng-model="ccinfo.billingAdd2" ng-model-options="{updateOn:'blur'}" />
					</md-input-container>
					<div flex="30"></div>
					<div class="validation-messages" ng-show="user.billlAddress2">
					<div ng-messages="userForm.billlAddress2.$error">
						<div ng-message="required">Billing Address2 is required</div>

					</div>
				</div>
			</div>
			
			<!-- added for pop up -->
				<div>
					<script type="text/ng-template" id="popup.html">
                                                                     
<div class="modal-header">
              <h3 class="modal-title">Registration confirm</h3>
       </div>
       <div class="modal-body" layout="row" style="height:100px; overflow: auto; ">
              <div flex>
                     <p>Thank you for Joining Urban Life ! Mail have been sent to your email address for confirmation</p>
              </div>
              <!--<span>{{ 
 }}</span> -->
       </div>
       <div class="modal-footer" layout="row" layout-align="center center">
              <md-button class="md-raised md-primary hollow-btn" ng-click="ok()">ok</md-button>
       </div>

</script>

				</div>

	<!-- added for pop up -->
				<div>
					<script type="text/ng-template" id="errorpopup.html">
                                                                     
<div class="modal-header">
              <h3 class="modal-title">Registration Error</h3>
       </div>
       <div class="modal-body" layout="row" style="height:50px; overflow: auto; ">
              <div flex>
                     <p>Email is not Verified, Please use different email id for registration.</p>
              </div>
              <!--<span>{{ 
 }}</span> -->
       </div>
       <div class="modal-footer" layout="row" layout-align="center center">
              <md-button class="md-raised md-primary hollow-btn" ng-click="ok()">ok</md-button>
       </div>

</script>

				</div>



				<div class="validation-messages" ng-switch="ccinfo.servererror"> 
						<!-- <div class="validation-messages" ng-switch="30002">-->
						 <div ng-switch-when="30001">The card number is incorrect.</div>
						<div ng-switch-when="30002">The card number is not a valid
							credit card number.</div>
						<div ng-switch-when="30006">The card has expired.</div>
						<div ng-switch-when="30008">The card was declined.</div>
						<div ng-switch-when="30014">The card was declined.</div>
						<div ng-switch-when="30017">An error occurred while
							processing the card.</div>
						<div ng-switch-when="30018">There is no card on a customer
							that is being charged.</div>
						<div ng-switch-when="30019">The card's zip code failed
							validation.</div>
						<div ng-switch-when="30005">The card's security code is
							invalid.</div>
						<div ng-switch-when="30007">The card's security code is
							incorrect.</div>
						<div ng-switch-when="30003">The card's expiration month is
							invalid.</div>
						<div ng-switch-when="30004">The card's expiration year is
							invalid.</div>

					</div>
				
				
				
				<div class="reg-btns">
					<md-button ng-disabled="(userForm.name.$dirty && userForm.name.$invalid) ||
								 (!userForm.name.$dirty && userForm.name.$invalid) ||
								 
								 (userForm.ccnumber.$dirty && userForm.ccnumber.$invalid) ||
								 (!userForm.ccnumber.$dirty && userForm.ccnumber.$invalid) ||
								 
								 (userForm.securityCode.$dirty && userForm.securityCode.$invalid) ||
								 (!userForm.securityCode.$dirty && userForm.securityCode.$invalid) ||
								 
								 (userForm.exoMonth.$dirty && userForm.exoMonth.$invalid) ||
								 (!userForm.exoMonth.$dirty && userForm.exoMonth.$invalid) ||
								 
								 (userForm.expYear.$dirty && userForm.expYear.$invalid)||
								 (!userForm.expYear.$dirty && userForm.expYear.$invalid)||
								 
								 (userForm.billlAddress.$dirty && userForm.billlAddress.$invalid)||
								 (!userForm.billlAddress.$dirty && userForm.billlAddress.$invalid) ||
								 
								 (userForm.country.$dirty && userForm.country.$invalid)||
								 (!userForm.country.$dirty && userForm.country.$invalid)"
								 
								 class="md-raised md-primary"
						ng-click='registerMerchant()'>Sign up</md-button>
					<md-button 
						
						class="md-raised md-primary black-btn" ng-click="back()">Back</md-button>
					<md-button class="md-raised md-primary hollow-btn">Reset</md-button>
				</div>
			</form>
		</div>
                        </div>
                </div>
                </md-content>
            <md-toolbar class="footer">
        		<div class="container" layout="column" layout-align="center end">
            		<h6>&copy; 2015 Urban Life</h6>
                </div>
            </md-toolbar>
